# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
prod.env

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

yarn.lock

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# Next
.next

# Django #
asgi.py
wsgi.py

# static
resources/
static/
**/media/*
!**/media/no-image.jpg
!**/media/no-image.png
!**/media/no-person.png

assets/
settings.bak

__pycache__/
*.log
*.pot
*.pyc
migrations/

# Database #
*.sqlite3

# Sublime #
*.sublime-workspace
*.sublime-project
sftp-config.json
package-lock.json
datadamp.json

# npm
.sublime-gulp.cache

# Environment
.venv
venv/

cache/
