
@import mixins
@import vars

button
	display: block
	align-self: center
	padding: 0.3rem 1rem
	font-size: 0.8rem
	text-transform: uppercase
	color: black
	background-color: transparent
	border: $border_w $brand-color solid
	transition: 200ms all ease
	user-select: none
	&:hover
		background-color: #fff


.nav-arrow
	font-size: 1.5em
	color: #000
	&.right
		margin-left: 0.5rem
	&.left
		margin-right: 0.5rem

.arrow
	position: relative
	display: flex
	top: 0
	width: 20px
	height: 20px
	transition: all 200ms ease
	opacity: 0.7
	cursor: pointer
	z-index: 2
	&:hover
		opacity: 1

	&::after
		content: ''
		background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="9 2 8 14" fill="none" stroke="white" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path fill="none" d="M15 15l-4-6 4-6"/></svg>') center no-repeat
		background-size: 100%
		width: 100%
		height: 100%

	&.invert
		&::after
			filter: invert(100%)

	&.top
		&::after
			transform: rotate(90deg)

	&.right
		&::after
			transform: rotate(180deg)


.carousel
	.arrow
		position: absolute
		width: calc(3rem + 2vw)
		height: 100%
		padding: 1em
		z-index: 2
		&:hover
			opacity: 0.9
			&::after
				opacity: 1

		&.left
			left: 0

		&.right
			right: 0

		+media-breakpoint-up(md)
			opacity: 0.3

	ul.control-dots
		margin: 0
		li.dot
			width: calc(0.4em + 0.25vw)
			height: calc(0.4em + 0.25vw)
			min-width: 0.5rem
			min-height: 0.5rem
			margin: 0 calc(0.1em + 0.25vw)
			border-radius: 1px
			border: #fff 1px solid
			box-shadow: none
			background-color: #fff
			box-shadow: 0 0 0px 1px $brand-color
			transition: 200ms all ease
			opacity: 1
			&.selected
				background-color: $brand-color


.svg-icon
	align-items: center
	width: calc(0.9rem + 1.5vw)
	height: calc(0.9rem + 1.5vw)
	fill: $brand-color
	stroke: $brand-color
	&.white
		fill: white
		stroke: white



.scroll-to-top
	position: fixed
	display: block
	visibility: hidden
	width: 35px
	height: 35px
	bottom: 1.5rem
	right: 1.5rem
	padding: 0

	border: 3px $brand-color solid
	background-color: #fff
	border-radius: 3px
	color: white
	transition: all 300ms ease-in-out
	opacity: 0.5
	z-index: 999
	cursor: pointer
	&:hover
		opacity: 1

	&.show
		visibility: visible

