@import vars
@import mixins


.activities
	position: relative
	padding: $activities_p
	display: flex
	flex-wrap: wrap

.activity
	display: flex
	flex-direction: column
	min-height: 200px
	background-color: transparentize(white, 0.2)
	padding: 2vw
	margin: $activities_p
	+media-breakpoint-down(md)
		padding: 1em
	+media-breakpoint-down(sm)
		margin: 4vw


.header
	flex: 0
	margin-bottom: 0.5em
	text-transform: uppercase

.title
	font-weight: bold
	+media-breakpoint-down(sm)
		font-size: 1.25rem

.description
	flex: 1
	line-height: 1.25
	margin-bottom: auto
	+media-breakpoint-down(sm)
	font-size: 0.9rem

.footer
	margin-top: 1em
