@import vars
@import mixins

.section
	padding: 3vw 0

.article
	border: none
	border-radius: 0
	background-color: transparent
	margin: 1rem 0 1rem
	cursor: pointer
	img
		transition: all 200ms ease-out
		&:hover
			box-shadow: 0 0 1rem -2px transparentize($brand-color, 0.4)

.header
	flex-direction: column

.modalTitle
	color: #fff


