@import vars
@import mixins

.section
	background-color: $bg-light
	padding: 3vw 0

.article
	border: none
	border-radius: 0
	background-color: transparent
	cursor: pointer

.title
	margin: 1em 0
	+media-breakpoint-between(md,lg)
		font-size: 1rem
	+media-breakpoint-down(md)
		font-size: calc(0.6rem + 1.8vw)

.avatar
	line-height: 0

.button
	margin-top: auto



