@import vars
@import mixins

.section
	background-color: $bg-light

.article
	border: none
	border-radius: 0
	background-color: transparent
	cursor: pointer

.title
	margin: 1.5rem 0
	+media-breakpoint-up(md)
		font-size: 1.2rem


.avatar
	display: flex
	flex-direction: column
	align-items: center
	height: 100%
	margin: 0
	line-height: 0

.button
	margin-top: auto



