
@import mixins
@import vars
@import controls
@import nav
@import search
@import fonts
@import "vendors/youtube-embed.css"

html, body
	height: 100%

html
	font-size: $base-font-size

body
	--bs-font-sans-serif: #{$font-family-text, $default-fonts}
	+media-breakpoint-up(md)
		font-size: 1.1rem
	+media-breakpoint-up(lg)
		font-size: 1.2rem
a
	text-decoration: none
	color: $brand-color
	transition: all 150ms ease
	user-select: none
	cursor: pointer
	&:hover
		color: transparentize($brand-color, 0.3)
	&.white
		color: #fff
		&:hover
			color: #fff

h1, h2, h3, a, header, button
	font-family: #{$font-family-header, $default-fonts}
	font-weight: 500

h1
	color: $brand-color
	font-size: calc(1.5rem + 2vw)

header
	position: relative
	display: flex
	align-items: center
	flex: 100%
	margin-bottom: 1em
	+media-breakpoint-up(md)
		.check-mark
			position: absolute
			right: 100%
			top: 50%
			transform: translateY(-50%)

.post-title
	text-transform: uppercase
	+media-breakpoint-up(lg)
		font-size: calc(1rem + 0.5vw)

img
	color: transparent

p
	line-height: 1.5
	img
		max-width: 100%
		height: auto !important

ol, ul
	list-style: none

main
	flex: 1 0 auto
	overflow: hidden auto
	min-height: calc(100% - #{$nav-h})
	+media-breakpoint-down(sm)
		min-height: calc(100% - #{$nav-h-sm})

#__next
	display: flex
	flex-direction: column
	min-height: 100%

section
	position: relative
	margin-bottom: 4vh
	&:not(:first-child)
		margin-top: 6vh


	.container
		+push--auto

	&.header-section
		padding-top: 0
		@media (min-width: 576px) and (orientation: landscape)
			height: calc(100vh - #{$nav-h})
		@media (max-width: 575.98px) and (orientation: landscape)
			height: calc(100vh - #{$nav-h-sm})
		@media (orientation: landscape)
			.carousel .slide>div
				height: 100%
				>div
					padding-top: 0 !important

		.thumbs-wrapper
			+media-breakpoint-down(md)
				font-size: 0.9rem
			@media (max-width: 575.98px) and (orientation: portrait)
				display: none

		@media (max-width: 767.98px) and (orientation: landscape), (max-width: 575.98px) and (orientation: portrait)
			.arrow
				display: none

.container
	margin-bottom: 6vh
	--bs-gutter-x: 3vw
	+media-breakpoint-down(lg)
		--bs-gutter-x: 1vw
	+media-breakpoint-down(md)
		--bs-gutter-x: 6vw
		max-width: 100%
	+media-breakpoint-down(sm)
		--bs-gutter-x: 1.5rem
	+media-breakpoint-up(xxl)
		max-width: 1200px

figure
	--bs-gutter-y: 1rem
	>div
		overflow: unset !important
		>div
			box-shadow: 0 0 1rem -1px $shadow
			transition: all 300ms ease-out
			&:hover
				box-shadow: 0 0 1rem -1px $brand-color

.awards-slider, .customers-slider
	.carousel.carousel-slider
		padding-bottom: 2rem
		margin: -1rem 0
		overflow: unset
	+media-breakpoint-up(md)
		margin: -1rem -3rem
		.carousel.carousel-slider
			.slide
				padding: 0 3rem

	.arrow.left
		+media-breakpoint-between(md, xl)
			left: calc(3rem - 6vw)
		+media-breakpoint-up(xl)
			left: -1.5rem

	.arrow.right
		+media-breakpoint-between(md, xl)
			right: calc(3rem - 6vw)
		+media-breakpoint-up(xl)
			right: -1.5rem

.customers-slider
	.arrow:hover
		filter: invert(100%)

.awards-slider
	.arrow:hover
		background-color: transparentize(#fff, 0.3)

	.arrow.left
		background: linear-gradient(-90deg, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0.7) 30%, white 100%)
	.arrow.right
		background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0.7) 30%, white 100%)


.lightbox-container
	background-color: $overlay-bg
	z-index: 999999
	.modal-dialog
		height: 100vh
		margin: auto
	.modal-content
		max-width: 100%
		height: 100%
		background-color: transparent
		border-radius: none
		border: none
		color: #fff
	.modal-header, .modal-footer
		padding: 1em 0
		border: none
		justify-content: space-between
	.btn-close
		position: fixed
		right: 0
		top: 0
		padding: 1rem

.contacts-container
	.socials
		margin-top: 1rem

.modal-content
	//border: $border_w $brand-color solid
	border-radius: 0

.modal-backdrop
	+blur-background(10px, $brand-color, 0, 0.2)

.extra-posts
	.post-link
		+media-breakpoint-down(sm)
			font-size: 0.9rem

	.social-icon
		margin-right: 0.5rem
		font-size: 2rem


.social-icon
	display: inline-flex

.social-link
	margin: 0 .25rem

.nav-link
	display: flex
	align-items: center
	padding: 0

.phone-link
	@media screen and (max-width: 385px)
		margin-left: auto

.icon
	margin-right: 0.5rem


.centered
	display: flex
	align-items: center
	justify-content: center
