@import vars
@import mixins

.arrow
	max-width: 4rem


.sliderBg
	&:after
		content: ''
		display: block
		+push--absolute
		background-color: $overlay-bg-color

.icon
	width: 20px
	height: 20px
	+media-breakpoint-down(md)
		width: 16px
		height: 16px

