@import vars
@import mixins

.arrow
	max-width: 4rem


.sliderBg
	&:after
		content: ''
		display: table
		+push--absolute
		background-color: transparentize($brand-color,0.6)

.icon
	width: 20px
	height: 20px
	+media-breakpoint-down(md)
		width: 16px
		height: 16px

